@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.frame {
}

.frame::-webkit-scrollbar {
  width: 0.1rem; /* Adjust the width to 0.1rem or any other small value */
  background-color: transparent; /* Set the background color to transparent */
}
.frame::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the scrollbar thumb */
}

.frame::-webkit-scrollbar-track {
  background-color: transparent; /* Hide the scrollbar track */
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
